/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a0014f5;
}

h1 {
    color: #f8f6f8;
}

h2 {

    font-size: 16px;
    line-height: 1.5;
    color:#fbf9f9
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #faf8f8;
}
